[ghq]
root = ~/src
[grep]
	lineNumber = true
[user]
	name = Fumiya Karasawa
	email = krswfmy@gmail.com
	signingkey = C23FC01A51B07052
[commit]
	template = /Users/fmy/.gitmessage.txt
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[log]
	follow = false

[push]
	default = current
